:root {
  --width: 200px;
  --height: auto;
}
.App {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--width));
  grid-gap: 10px;
  background-color: grey;
  padding: 25px;
}

.flag {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--height) auto;
  outline: 2px solid grey;
  background-color: white;
  transition: .05s ease-in-out;
}

.flag:hover {
  transform: scale(1.2);
}

svg {
  width: 100%;
}

strong {
  color: white;
  background-color: #585858;
  padding: .32em;
}
